* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Inter", sans-serif;
  font-size:62.5%;
}

body {
  background: #14151D;
  color:#FFF; 
}

#wrapper{
  position: relative;
}

.container{ 
  width: 39.0rem;
  margin:0 auto; 
}

#brand{
  width: 16.0rem;
  height: 4.8rem;  
  display: flex;
  align-items: center;
  padding: 1.2rem 2.0rem;
  border-radius: 0px 0px 1.2rem 0px;
  background: #2E2C30;
  margin-bottom: 1.0rem;
  position: absolute;
  top: 0;
  left: 0;  
}

#brand img{
  margin-right: 4px;
}

#text-brand{
  color: #9282FA;
  font-family: "Familjen Grotesk",sans-serif;
  font-size: 1.6rem;  
  font-weight: 700;
  line-height: 2.4rem; 
  text-transform: uppercase;
}

header > .title > h1 {
  color:  #FFF;
  font-family: "Inter Tight", sans-serif;
  font-size: 2.4rem; 
  font-weight: 700;
  line-height: 3.2rem; /* 133.333% */
}

header > .title > p {
  color:  #98959D;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem; 
  font-weight: 500;
  line-height: 2.4rem; /* 171.429% */
} 

.schedule-period > header > span{
  color:  #98959D;
  text-align: right;
  font-family: "Inter Tight", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.4rem; /* 150% */
}

.schedule{
  margin-top: 6.9rem;
}

#schedule-date{
  color: #98959D;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

#title > h1{
  color: #F5F4F5; 
  font-family: "Inter Tight",sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
}

#title p{
  color: #98959D;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem; 
}

.input {
  width: 18.3rem;
  height: 4.8rem;
  border: .1rem solid #3e3c41;
  padding:1.2rem;
  border-radius: 0.5rem;
  display: flex;
  margin-top: 1.2rem;
  margin-bottom: 3.2rem;
}

.input i {
  margin-right: 0.5rem;
}

.input input {
  flex: 1;  
  font-size: 1rem;
  color: #b2afb6;
  background-color: transparent;
  outline: none;
  border: none;
}

option{
  color:black ;
}

.input:focus-within {
  border: .15rem solid #9282FA;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background: url("./assets/arrow-down.svg") no-repeat;
  background-size: 1.3rem;  
}

main{ 
  margin-top: 2.1rem; 
  padding: 1.2rem 2.0rem;  
}

main > header{
  margin-bottom: 3.2rem;
}

.period-header{
  display: flex;
  align-items: center;
}

.period-header > img {
  margin-right: 1.2rem;
} 

li{  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 1.2rem;
}

strong{
  margin-right: 1.2rem;
}

.service{
  color: #98959D;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem; 
}

.period > li .owner-name{
  color:  #98959D; 
  font-family: "Inter", sans-serif;
  font-size: 1.2rem; 
  font-weight: 400;
  line-height: 1.6rem;
}

.schedule-period > header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.2rem 2.0rem;
  border-bottom: 1px solid #2E2C30;
}

.sections{ 
  width: 100%; 
  display: flex;
  flex-direction: column;
  gap:1.2rem; 
}

section{
  background-color:#353339;
  border-radius: .8rem;
}

.period{
  padding: 2.0rem;
}

.first-line{
  display: flex;
  align-items: center;
}

.remove{
  display: flex;
  justify-content: end;
  color: #666;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  cursor: pointer; 
}

.new-schedule{
  width: 100%;
  padding: 1.8rem 2.0rem;
  border: 1px solid #23242C;
  background: #23242C; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.6rem; 
}

button{
  padding: 1.2rem 2.4rem;
  display: flex;
  height: 4.8rem;
  padding: 1.2rem 2.4rem;
  justify-content: center;
  align-items: center;  
  border-radius: .8rem;
  background: #9282FA;
  box-shadow: 0px 0px 4.0rem 0px rgba(146, 130, 250, 0.30);
  color: #050505;
  font-family: "Inter Tight",sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  border: none;
  cursor: pointer; 
}

button:hover{
  filter: brightness(0.9);
}


/* modal mobile */
.modal-wrapper  {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 1000;
  padding: 2rem;
  opacity:0;
  visibility: hidden;
  padding-top: 18.0rem;
}

select{
  font-size: 1rem;
  background-color: transparent;
  color: #FFF;
  flex: 1;
  background: url("./assets/arrow-down.svg") no-repeat;
  background-position: calc(100% - .23rem) center;
  background-size: 1.3rem;
  padding-right: 2rem; 
  cursor: pointer;
  outline: none;
  border: none;
  appearance: none; 
}

.modal-form{
  width: 35.0rem;
  position: relative;
  border-radius: 1.2rem;
  background: #23242C;
}

form{
  display: flex; 
  padding:2.0rem 2.0rem 4.0rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.6rem;
}
#form-date{
  color:  #98959D;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

#modal-header h1{
  color: #FFF;  
  font-family: "Inter Tight";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-top: 3.0rem;
  
}

#modal-header p{
  color: #98959D;  
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem; 
}

form .input {
  width:100%;
  height: 4.8rem;
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid #3e3c41;
  padding:1.2rem;
  border-radius: 0.5rem;
  display: flex;
}

input[type="time"] {
  appearance: none;
  -webkit-appearance: none;
  background: url('./assets/clock.png') no-repeat right center;
  background-size: 1.5rem;
  padding-right: .01rem;
  cursor: pointer;
}

#time{
  color: #98959D;
  font-family: "Inter",sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.textarea:focus{
  border: 1.5px solid #9282FA;
}

textarea {
  width:31.0rem;
  height: 8.0rem; 
  font-size: 1rem;
  color: #b2afb6;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 1px solid #3e3c41;
  padding: 1.2rem; 
  outline: 0;
}

textarea:focus{
  border: 1.5px solid #9282FA;
}

#modal-header{ 
  padding: 1.2rem 2.0rem; 
}

#wrapper-button{
  width:31.0rem;
  display: flex;
  justify-content: flex-end;
}

#flex{
  width:31.0rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.flex-1{
  display: flex;
  flex-direction: column;
  gap: 1.0rem;
}

#schedule-button{
  display: flex; 
  height: 4.8rem;
  padding: 1.2rem 2.4rem;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  border-radius: .8rem;
  background: #9282FA;
  border: none;
}

#close{
  background-color: transparent;
  border: 0;
  position: absolute;
  top:.8rem;
  right:.8rem;
  cursor: pointer;
  color: #98959D;
}

.modal-wrapper.open{
  opacity: 1;
  visibility: visible;
}

select option:disabled {  
  color: #9aa0a6;   
  cursor: not-allowed;
}

.slash {
  margin: 0 .4rem;
  color: #98959D; /* cinza igual ao dono */
}

.new-schedule > button {
  border-radius: .8rem;
  background:  #9282FA;
  box-shadow: 0 0 4.0rem 0 rgba(146, 130, 250, 0.30);
  display: inline-flex;
  height: 4.8rem;
  padding: 1.2rem 2.4rem;
  justify-content: center;
  align-items: center;
  gap: .8rem; 
  color: #050505;
  text-align: center;
  font-family: "Inter Tight",sans-serif;
  font-size: 1.6rem;  
  font-weight: 700;
  line-height: 2.4rem; /* 150% */
}



@media (min-width: 110.0rem) {
  .container{ 
    width:71.1rem;
    margin:6.2rem auto;
  }

  #brand{
    position: absolute;
    top: 0;
    left: 0;  
  }

  main>header{
   display: flex;
   justify-content: space-between;
   align-items: center;
  } 

  .new-schedule{
    width: 23.175rem;
    padding: 0px 0px;
    margin-top: 0;   
    background: #14151D;
    position: relative;
    bottom:2.0rem;
    right:-85.0rem;  
  }

  li{  
    display: grid;
    grid-template-columns:25.0rem 1fr 1fr;
    grid-template-rows: 1fr;
    padding:2.0rem;
  }


  /* modal desktop */
  .modal-wrapper{
    padding: 4.0rem;    
  }

  #modal-header{
    margin-bottom: 2.8rem;
  }

  #flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 39.7rem;
  }

  #flex .flex-1 .input{
    width:19.1rem;
  }

  select{     
    background-position: calc(100% - .2rem) center;
  }

  #time{
    width:19.1rem;
  }

  #date{
    width:19.1rem;
  } 

  .modal-form{    
    width: 47.7rem;  
    padding: 4.0rem;  
  }

  form textarea {
    width: 35.6rem;
  }

  .flex-1{   
    display: flex;
    flex-direction: column;
    gap:1.6rem ;  
  }

  #close{
    display:none;
  }

  #modal-header{
    padding:0;
  }

  #modal-header h1{
    margin-top: 0;
  }

  form{
    padding:0;
  }

  #service-description{
    width: 39.7rem;
  }

  #wrapper-button{
    width: 39.7rem;
    
  }
  
} 